/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(75deg, rgba(142, 141, 114, 0.843) 0%, rgb(104, 46, 46)75%);
  }
  

  #loginh1{
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(to right,rgb(98, 42, 42),rgba(228, 227, 187, 0.843),rgb(98, 42, 42), rgb(98, 42, 42),rgba(219, 218, 149, 0.843), rgb(104, 46, 46),rgba(221, 221, 206, 0.843));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bounce 2.5s linear infinite;
    cursor: pointer;
    
  }
  
  @keyframes animate-gradient{
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
  }
  #loginh2{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(214, 198, 177);
    cursor: pointer;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }

  /* Text Animation */
  .animation-container, .login-container, .notes-container {
    text-align: center;
  }
  
  #animated-text {
    position: relative;
    font-size: 5rem;
    font-weight: bold;
    color: #e9e0b4;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  .animated-text h1
  {
    position:absolute;
    color: #e9e0b4;
    transform: translate(-50%,-50%);
    font-size: 5rem;
  }
  .animated-text h1:nth-child(1)
  {
    color: transparent;
    -webkit-text-stroke: 2px #e2d7a8;
  }
  .animated-text h1:nth-child(2)
  {
    color: #7e3d3d;
    animation: animate 5s ease-in-out;
  }
  
  @keyframes animate {
    0%, 100% {
        clip-path: polygon(0 53%, 15% 52%, 31% 60%, 48% 66%, 68% 63%, 85% 60%, 100% 58%, 100% 99%, 0 100%);

    }
    50% {
        clip-path: polygon(0 68%, 10% 69%, 35% 73%, 54% 71%, 67% 57%, 84% 55%, 100% 58%, 100% 99%, 0 100%);
    }
  }
  
  
  input, textarea, button {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
  }
  
  textarea {
    width: 80%;
    height: 300px;
  }
  
  button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }

  #form-container, #editor-container {
  text-align: center;
}

input, textarea, button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

textarea {
  width: 80%;
  height: 300px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
